html, body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.button{
  width: 66px;
  padding: 20px;
  margin: 5 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.row{
    margin: 8px 0px;
}

.row input{
    font-size: 23px;
    margin: 0px;
    padding: 10px 0px;
    border: solid black 2px;
    border-radius: 5px;
}
